export NVIDIA_API_KEY='REEMPLAZAR_CON_KEY_ROTADA'
export TELEGRAM_BOT_TOKEN='REEMPLAZAR_CON_TOKEN_DE_BOTFATHER'
export ALLOWED_CHAT_IDS='REEMPLAZAR_CON_TU_CHAT_ID'
export SANDBOX_NAME='nemoclaw-main'
export NEMOCLAW_CHECKOUT='/home/zerausn/NemoClaw'
